//max-width

.max-width-small {
  max-width: 27.9rem;
}

.max-width-meduim {
  max-width: 42rem;
}

.icon-1x {
  transform: scale(0.7)!important;
}

.icon-2x {
  transform: scale(1.45)!important;
}

.u-center-text {
  text-align: center !important;
}

.u-font-weight-bold-small {
    font-weight: 100 !important;
}

.u-font-weight-bold-medium {
    font-weight: 500 !important;
}

.u-font-weight-bold-large {
    font-weight: 600 !important;
}
.u-font-bold-big {
    font-weight: 700 !important;
}

//margin bottom

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 6rem !important;
}

//margin top

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-medium {
  margin-top: 2rem !important;
}

.u-margin-top-large {
  margin-top: 3rem !important;
}

.u-margin-top-big {
  margin-top: 4rem !important;
}

.u-margin-top-huge {
  margin-top: 5rem !important;
}

.u-margin-top-very-huge {
  margin-top: 15rem !important;
}

//margin left 

.u-margin-left-small {
    margin-left: 1rem !important;
  }
  
  .u-margin-left-medium {
    margin-left: 2rem !important;
  }
  
  .u-margin-left-large {
    margin-left: 3rem !important;
  }
  
  .u-margin-left-big {
    margin-left: 4rem !important;
  }
  
  .u-margin-left-huge {
    margin-left: 5rem !important;
  }

//margin right 

.u-margin-right-small {
    margin-right: 1rem !important;
  }
  
  .u-margin-right-medium {
    margin-right: 2rem !important;
  }
  
  .u-margin-right-large {
    margin-right: 3rem !important;
  }
  
  .u-margin-right-big {
    margin-right: 4rem !important;
  }
  
  .u-margin-right-huge {
    margin-right: 5rem !important;
  }