@import 'src/assets/styles/mixins';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.header-large {
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-family: 'TT Hoves';
  font-weight: 300;
  color: #BDBDBD;
}

.heading-two {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.992rem;
  color: #FFFFFF;
  font-family: 'TT Hoves';
}

.btn {
  width: 22.1rem;
  height: 7.1rem;


  &__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 22.1rem;
    height: 7.1rem;
    border: none;
    background-color: #fff;
    

    &:hover {
      background-color: #f9f9f9;
    }
  }

  &__main--transparent {
    height: 3rem;
    background-color: transparent;
    transition: all 0.5s;
    justify-content: flex-start;

    &:hover {
      background-color: #83838377;
    }
  }

  &__main--black {
    background-color: #333333;

    &:hover {
      background-color: #535353;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-family: 'TT Hoves';
    line-height: 1.2rem;
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 0 1rem 0 0;

    &--white {
      margin: 0;
      color: #ffffff;
    }
  }

}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 10rem;

  &__icon {
    margin-left: 13.3rem;
    width: 7rem;
  }

  &__link-container {
    margin-right: 16rem;
  }

  &__link {
    margin-right: 6rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 0.16rem;
    color: #333333;
    text-decoration: none;
    padding: 0.2rem 0 0.2rem 0;

    &:hover {
      border-top: 1px solid #333333;
      border-bottom: 1px solid #333333;
    }
  }
}

.main {
  margin: 0 12rem 0 12rem;
  font-family: 'TT Hoves';
}

.about {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  background-color: #FBFBFB;
  width: 100%;
  height: 43.5rem;
  flex-wrap: wrap;

  &__photo-box-one {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem 3rem 10rem;
    width: 24%;
  }

  &__photo-one {
    max-width: 27rem;
    max-height: 26.5rem;
  }

  &__photo-three {
    z-index: 11111;
    padding-top: 3rem;
    max-width: 27rem;
    max-height: 14rem;
  }

  &__photo-box-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    width: 65%;
  }

  &__photo-two {
    margin-top: 6rem;
    margin-right: 3rem;
    max-width: 27rem;
    max-height: 34.5rem;
  }

  &__text-box {
    max-width: 45rem;
    margin-top: 2.5rem;
  }

  &__text {
    font-size: 6.4rem;
    line-height: 6.4rem;
    font-family: 'TT Hoves';
    font-weight: 300;
    color: #BDBDBD;
  }

  &__text-other {
    max-width: 40rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

}

.tasks {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__number {
    margin-right: 2.5rem;
    font-size: 20rem;
    font-weight: 900;
    color: #F2F2F2;
    font-family: 'SF Pro Display';
  }

  &__text {
    font-size: 2.2rem;
    line-height: 3.6rem;
  }
}

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  &__project-box {}

  &__main-container {
    position: relative;
  }

  &__img-one {
    width: 55rem;
    height: 25.5rem;
  }

  &__img-two {
    width: 55rem;
    height: 25.5rem;
  }

  &__img-three {
    width: 24.5rem;
    height: 25.5rem;
  }

  &__img-four {
    width: 46.5rem;
    height: 25.5rem;
  }

  &__img-five {
    width: 36rem;
    height: 25.5rem;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  &__center {
    @include absCenter;
  }

  &__text-box {
    margin-top: 4rem;
  }

  &__text {
    line-height: 6.4rem;
    color: #FFFFFF;
    font-family: 'TT Hoves';
    font-weight: 700;

    &--one {
      font-size: 6.4rem;
    }

    &--two {
      font-size: 6.4rem;
    }

    &--three {
      font-size: 3.4rem;
      line-height: 3.5rem;
    }

    &--four {
      font-size: 5.4rem;
      line-height: 5.5rem;
    }

    &--five {
      font-size: 4.4rem;
      line-height: 4.4rem;
    }
  }
}

.project-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 11.4rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &__box {
    display: flex;
  }

  &__main {
    display: flex;
    flex-direction: column;
    max-height: 36.9rem;
  }

  &__container {
    position: relative;
    max-width: 39.5rem;
  }

  &__control {
    width: 37rem;
    height: 4.6rem;
    background-color: #F3F3F3;
    border: none;
    outline: none;
    padding-left: 2.3rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.743rem;
    font-weight: 400;
  }

  &__pointer-phone {
    position: absolute;
    top: 1.4rem;
    left: 13.5rem;
    color: #C30000;
  }

  &__pointer-email {
    position: absolute;
    top: 1.4rem;
    left: 6.4rem;
    color: #C30000;
  }

  &__pointer-message {
    position: absolute;
    top: 1.4rem;
    left: 10rem;
    color: #C30000;
  }

  &__photo-box {
    max-width: 69rem;
    max-height: 36.9rem;
  }

  &__photo {
    width: 100%;
    height: 100%;

  }

  &__container--large {
    height: 14.6rem;
    background-color: #F3F3F3;
  }
}

.form-btn {
  max-width: 39rem;

  &__text {
    margin: 2rem 0 2rem 4rem;
    font-size: 1.4rem;
  }

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2C2C2C;
  margin-top: 13rem;

  &__top {
    display: flex;
    flex-direction: row;
    padding-top: 5.5rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
  }

  &__img-box {
    margin-left: 11.5rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }

  &__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    padding-bottom: 1.7rem;
  }

  &__contacts-box {
    margin-left: 15.5rem;
  }

  &__contacts {
    display: flex;
    margin-top: 2.1rem;
  }
  
  &__contacts-text {
    font-family: 'TT Hoves';
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
    width: 29rem;
    margin: 0.5rem 0 0 1.5rem;
  }
  
  &__phone-box {
    display: flex;
    margin-top: 5rem;
  }

  &__phone {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  &__message-box {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
  }

  &__social {
    margin-left: 8.3rem;
  }

  &__icons {
    margin-top: 2.5rem;
  }

  &__icon {
    margin-right: 3.5rem;
  }

  &__icon-img {
    width: 2rem;
  }
}

.footer-bottom {
  width: 100%;
  &__line {
    width: 100%;
    border-bottom: 0.2rem solid #a3a3a31a;
  }

  &__text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #c8c8c880;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    padding-left: 6.5rem;
  }
}
